* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  
}


/* хром, сафари */
*::-webkit-scrollbar { width: 0; }

/* ie 10+ */
* { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
* { overflow: -moz-scrollbars-none; }

body {
  background-color: #fafafa;
}